/* DEFAULT --------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}

::-webkit-input-placeholder { color: #303030; }
::-moz-placeholder { color: #303030; }
:-ms-input-placeholder { color: #303030; }
input:-moz-placeholder { color: #303030; }
.placeholder { color: #303030; }

.error::-webkit-input-placeholder { color: #303030; }
.error::-moz-placeholder { color: #303030; }
.error:-ms-input-placeholder { 303030: #303030; }
.error:-moz-placeholder { color: #303030; }
.error.placeholder { color: #303030; }

label.error {
	text-transform: none;
	color: #f00;
}

html, body { height: 100%; }

body {
	font-family: 'Lato', sans-serif;
	/* -webkit-touch-callout: none; */
	/* -webkit-user-select: none; */
	/* -khtml-user-select: none; */
	/* -moz-user-select: none; */
	/* -ms-user-select: none; */
	/* user-select: none; */
}

p {
	color: #777777;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	margin: 30px 0px;
}

a,
a:focus {
	color: inherit;
}

a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
}

ul, li {
	list-style: none;
}

a:focus { outline: 0; }

.title {
	position: relative;
}

.clear {
	clear: both;
}

.active {
	display: block;
}

.separator {
	width: 35px;
	height: 3px;
	background: #444444;
	margin: 10px auto;
}

/* titles */
h1.title {
	font-size: 24px;
	line-height: 45px;
	font-weight: 700;
	letter-spacing: 5px;
	color: #454442;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
}

h2.title {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

/* botões */
.btn {
	width: auto;
	height: 60px;
	line-height: 60px;
	padding: 0px 20px;
	border: none;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 2px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	transition: 0.1s all linear;
	border-radius: 0;
	margin-bottom: 20px;
}

.btn:hover {
	transition: 0.1s all linear;
}

.btn-white {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.btn-white:hover {
	background: #f97352;
	color: #fff;
	border: 1px solid #f97352;
}

.btn-black {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	background: transparent;
	border: 1px solid #000;
}

.btn-black:hover {
	background: #000;
	color: #fff;
	border: 1px solid #000;
}

.btn-grey {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #3d4045;
}

.btn-grey:hover {
	background: #fff;
	color: #3d4045;
}

.btn-orange {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #f97352;
}

.btn-orange:hover {
	background: #fff;
	color: #f97352;
	border: 1px solid #f97352;
}

/* flexslider */
.flexslider {
	position: relative;
}

.flexslider .flex-direction-nav {
	display: none;
}

.flexslider .flex-control-nav {
	display: none;
}

/* uteis */
.left {
	float: left;
}

.right {
	float: right;
}

.text-big {
	font-size: 30px;
	line-height: 36px;
}

.bold {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}


/* DEFAULT ------------------------------------------------------------------ */


/* CLASS HELPER ---------------------------------------------------- */

.hidden { display: none !important; visibility: hidden; }
.disable-hover,
.disable-hover * {
pointer-events: none !important;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.clear { clear: both; }

.clearfix:after { display: block; visibility: hidden; clear: both; width: 0; height: 0; font-size: 0; line-height: 0; content: ' '; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* CLASS HELPER ---------------------------------------------------- */

/* HEADER ------------------------------------------------------------------ */

#header-container {
	width: 100%;
	min-height: 100px;
	position: relative;
	top: 0;
	z-index: 999;
	background: #fff;
}

#header-container .logo {
	position: relative;
	top: 40px;
	left: 0;
}

#header-container .nav-mobile ul {
	
	height: auto;
	background: #000;
	margin-top: 60px;
	opacity: 0;
	top: -800px;
	position: absolute;
	transition: 0.4s opacity fade-in;
}

#header-container .nav-mobile ul.ative {
	opacity: 1;
	top: 0;
	position: relative;
	transition: 0.4s opacity fade-in;
}

#header-container .nav-mobile ul li {
	width: 100%;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid #fff;
}

#header-container .nav-mobile .btn-nav-top {
	font-size: 35px;
	position: absolute;
	left: auto;
	right: 20px;
	top: 30px;
	display: block;
}


/* HEADER ------------------------------------------------------------------ */

/* START & BARS ------------------------------------------------------------------ */

.start {
	width: 100%;
	padding: 50px 0px;
	background: #3d4045;
}

.start h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 20px 0px;
}

.start p {
	color: #b6b6b6;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
}

.start-green {
	width: 100%;
	padding: 50px 0px;
	background: #7ac673;
}

.start-green h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 20px 0px;
}

.start-grey {
	width: 100%;
	padding: 50px 0px;
	background: #f0f0f0;
}

.start-grey h2 {
	color: #7e8691;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 20px 0px;
}

.start-grey h2 span {
	color: #f97352;
}

/* START & BARS ------------------------------------------------------------------ */

/* HOME ------------------------------------------------------------------ */

#banner-container {
	width: 100%;
	height: auto;
	position: relative;
	top: -30px;
}

#banner-container .info {
	position: relative;
	text-align: center;
	top: 0px;
}

#banner-container .info h2 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}

#banner-container .btn-white {
	color: #f97352;
	border: 1px solid #f97352;
	margin: 10px;
}

#banner-container .image img {
	width: 100%;
	height: auto;
}

/* HOME ------------------------------------------------------------------ */

/* ABOUT ------------------------------------------------------------------ */

#about-container img {
	margin: 80px auto;
	display: block;
}

/* ABOUT ------------------------------------------------------------------ */

/* TEMPLATES ------------------------------------------------------------------ */

#templates-container {
	width: 100%;
	padding: 90px 0px;
	background: #f0f0f0;
}

#templates-container .btn {
	margin: 60px auto;
	display: table;
}

#templates-container .image {
	margin: 35px auto;
	transition: 0.1s all linear;
	opacity: 1;
}

#templates-container .image img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}


#templates-container .image:hover {
	transition: 0.1s all linear;
	opacity: 0.6;
}

/* TEMPLATES ------------------------------------------------------------------ */

/* BENEFITS ------------------------------------------------------------------ */

#benefits-container {
	width: 100%;
	position: relative;
}

#benefits-container .item {
	min-height: 200px;
	padding: 130px 0px;
	text-align: center;
}

#benefits-container .item .icon {
	font-size: 70px;
}

#benefits-container .item h2 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
}

#benefits-container .item .separator {
	height: 2px;
	background: #fff;
}

#benefits-container .item .text {
	max-width: 300px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	margin: 30px 0px;
	padding: 0px 10px;
}

#benefits-container .item:nth-child(1) {
	background: #3edbd9;
}

#benefits-container .item:nth-child(1) .icon {
	color: #5841b8;
}

#benefits-container .item:nth-child(2) {
	background: #3a98fe;
}

#benefits-container .item:nth-child(2) .icon {
	color: #3edbd9;
}

#benefits-container .item:nth-child(3) {
	background: #5841b8;
}

#benefits-container .item:nth-child(3) .icon {
	color: #3a98fe;
}

#benefits-container .image {
	margin: 35px 0px;
	transition: 0.1s all linear;
	opacity: 1;
}

#benefits-container .image:hover {
	transition: 0.1s all linear;
	opacity: 0.6;
}

#benefits-container .benefits .item {
	background: none;
	padding: 40px 0 0 0;
}

#benefits-container .benefits .item .icon {
	font-size: 16px;
	line-height: 18px;
	color: #000;
}

#benefits-container .benefits .item:hover .icon {
	top: -10px;
}

#benefits-container .benefits .item h3 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#benefits-container .benefits .item p {
	max-width: 250px;
	color: #999999;
	margin: 0 auto;
}

/* BENEFITS ------------------------------------------------------------------ */


/* FEATURES ------------------------------------------------------------------ */

#features-container {
	width: 100%;
	background: #fafafa;
	border-top: 1px solid #c4cacc;
	padding-top: 50px;
}

#features-container .image img {
	width: 100%;
	height: auto;
}

#features-container .features {
	width: 100%;
	background: #c4cacc;
	padding: 100px 0px;
}

#features-container .features .item .info .title,
#features-container .features .item .info .text,
#features-container .features .item .info .btn {
	text-align: left;
}

#features-container .features .item {
	margin-bottom: 120px;
}

#features-container .features .item .info .separator {
	margin: 50px 0px;
}

/* FEATURES ------------------------------------------------------------------ */


/* TESTEMONIALS ------------------------------------------------------------------ */
#testimonials-container {
	width: 100%;
	background: #3d4045;
	padding: 50px 0px;
}

#testimonials-container h1 {
	color: #fff;
}

#testimonials-container .separator {
	background: #fff;
}

#testimonials-container .text {
	max-width: 580px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	margin: 80px auto;
}

#testimonials-container .image img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: 30px auto;
}

#testimonials-container .info {
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

#testimonials-container .info .author {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 auto;
}

#testimonials-container .info .function {
	font-size: 14px;
	display: block;
	margin: 10px 0;
}

#testimonials-container .flexslider .flex-direction-nav {
	display: none;
}

/* TESTEMONIALS ------------------------------------------------------------------ */


/* MODES ------------------------------------------------------------------ */

#modes-container {
	padding: 80px 0;
}

#modes-container .modes {
	background: #e1ecec;
	margin-top: 150px;
}

#modes-container .modes .info {
	padding: 20px;
	text-align: center;
}

#modes-container .modes h3 {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}

#modes-container .modes .flex-control-nav {
	width: 100%;
	position: absolute;
	top: -100px;
	display: block;
	text-align: center;
}

#modes-container .modes .flex-control-nav li {
	margin: 0px 15px;
	display: inline-block;
	text-align: center;
}

#modes-container .modes .flex-control-nav li a {
	font-size: 0;
	color: #a7a7a7;
	transition: 0.2s all linear;
}

#modes-container .modes .flex-control-nav li a:hover {
	color: #222222;
	transition: 0.2s all linear;
	cursor: pointer;
}


#modes-container .modes .flex-control-nav li:nth-child(1) > a:after {
	content: "\e90a";
	font-family: 'icomoon';
	display: block;
	font-size: 30px;
}

#modes-container .modes .flex-control-nav li:nth-child(2) > a:after {
	content: "\e908";
	font-family: 'icomoon';
	display: block;
	font-size: 30px;
}

#modes-container .modes .flex-control-nav li:nth-child(3) > a:after {
	content: "\e906";
	font-family: 'icomoon';
	display: block;
	font-size: 30px;
}

#modes-container .modes .flex-control-nav li:nth-child(4) > a:after {
	content: "\e90c";
	font-family: 'icomoon';
	display: block;
	font-size: 30px;
}

/* MODES ------------------------------------------------------------------ */

/* GALLERY ------------------------------------------------------------------ */

#gallery-container {
	width: 100%;
	background: #3d4045;
	padding: 80px 0;
}

#gallery-container .title {
	color: #fff;
}

#gallery-container .separator {
	background: #fff;
}

#gallery-container .gallery .image {
	width: 100%;
	height: 300px;
	background-size: cover;
}

#gallery-container .gallery .image .info {
	text-align: center;
}

#gallery-container .gallery .image .info .btn-gallery {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: transparent;
	border-radius: 50%;
	border: 2px solid #fff;
	color: #fff;
	text-align: center;
	text-indent: -9999;
	opacity: 0.8;
	transition: 0.2s all linear;
	margin: 50px 5px;
}

#gallery-container .gallery .image .info .title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin: 20px 0;
}

#gallery-container .gallery .image .info .desc {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}

/* GALLERY ------------------------------------------------------------------ */


/* PARTNERS ------------------------------------------------------------------ */

#partners-container {
	padding: 100px 0px;
}

#partners-container .image {
	width: 100%;

	margin: 0 auto;
	text-align: center;
}

#partners-container .image img {
	width: 80%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

/* PARTNERS ------------------------------------------------------------------ */

/* FOOTER ------------------------------------------------------------------ */

#footer-container .info {
	width: 100%;
	padding: 50px 0px;
	background: #3d4045;
}

#footer-container .info .title {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}

#footer-container .info p {
	font-size: 14px;
	line-height: 28px;
	color: #9f9f9f;
	text-align: left;
	margin: 0;
	padding: 0 10px;
}

#footer-container .info a {
	font-size: 14px;
	color: #9f9f9f;
	display: block;
	margin-bottom: 10px;
	transition: 0.2s all linar;
}

#footer-container .info a:hover {
	color: #f97352;
	transition: 0.2s all linar;
}


#footer-container .copyright {
	width: 100%;
	padding: 10px 0px;
	background: #43474d;
	font-size: 12px;
	color: #9f9f9f;
}

/* FOOTER ------------------------------------------------------------------ */


/* IE FIX ------------------------------------------------------------------- */

.lt-ie11 #banner-container {
	top: -100px;
	margin-bottom: -100px;
}

/* IE FIX ------------------------------------------------------------------- */

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?icdown');
    src: url('../fonts/icomoon.eot?icdown#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?icdown') format('truetype'),
        url('../fonts/icomoon.woff?icdown') format('woff'),
        url('../fonts/icomoon.svg?icdown#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-cloud:before {
    content: "\e902";
}
.icon-air:before {
    content: "\e903";
}
.icon-drink:before {
    content: "\e904";
}
.icon-feather:before {
    content: "\e905";
}
.icon-flash:before {
    content: "\e906";
}
.icon-graduation-cap:before {
    content: "\e907";
}
.icon-heart-outlined:before {
    content: "\e908";
}
.icon-light-bulb:before {
    content: "\e909";
}
.icon-line-graph:before {
    content: "\e90a";
}
.icon-map:before {
    content: "\e90b";
}
.icon-paper-plane:before {
    content: "\e90c";
}
.icon-quote:before {
    content: "\e90d";
}
.icon-thumbs-up:before {
    content: "\e90e";
}
.icon-unread:before {
    content: "\e90f";
}



