/* HOME ------------------------------------------------------------------ */

#banner-container .info {
	top: -580px;
}

#banner-container .info h2 {
	font-size: 60px;
}

#banner-container .info p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
}


/* HOME ------------------------------------------------------------------ */