
/* HEADER ------------------------------------------------------------------ */

#header-container {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	z-index: 999;
	background: none;
}

#header-container .logo {
	position: relative;
	top: 40px;
	left: 0;
}

#header-container .nav-header {
	width: 650px;
	position: relative;
	left: 400px;
	top: 20px;
	display: block;
}

#header-container .nav-header .btn-nav-top {
	display: none;
}

#header-container .nav-header li {
	display: inline-block;
}

#header-container .nav-header a {
	cursor: pointer;
	color: #000;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;
	margin: 0 15px;
	padding-bottom: 5px;
	border-bottom: 2px transparent;
	-webkit-transition: all 0.1s linear;
	display: inline-block;
}

#header-container .nav-header a:hover {
	border-bottom: 2px solid #000;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
}

#benefits-container .item .separator {
	top: 0px;
	transition: 0.2s all linear;
	position: relative;
}

#benefits-container .item:hover .separator {
	top: -30px;
	transition: 0.2s all linear;
}

#benefits-container .item .text {
	opacity: 0;
	top: -20px;
	transition: 0.2s all linear;
	position: relative;
}

#benefits-container .item:hover .text {
	opacity: 1;
	top: 0px;
	transition: 0.2s all linear;
}

#benefits-container .item .text {
	opacity: 0;
	top: -20px;
	transition: 0.2s all linear;
}

#benefits-container .item:hover .btn {
	opacity: 1;
	transition: 0.2s all fade-in;
}

#benefits-container .item .btn {
	opacity: 0;
	top: 50px;
	transition: 0.4s all fade-in;
	position: relative;
}


/* HEADER ------------------------------------------------------------------ */


/* HOME ------------------------------------------------------------------ */

#banner-container {
	top: -100px;
}

#banner-container .info {
	top: -580px;
}

#banner-container .info h2 {
	font-size: 60px;
}

#banner-container .info p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
}

/* HOME ------------------------------------------------------------------ */


/* GALLERY ------------------------------------------------------------------ */

#gallery-container .gallery {
	margin-top: 40px;
	position: relative;
}

#gallery-container .gallery .image:nth-child(1) {
	width: 550px;
	height: 550px;
	position: relative;
	left: 0;
	top: 0;
}

#gallery-container .gallery .image:nth-child(2) {
	width: 550px;
	height: 275px;
	position: absolute;
	left: 550px;
	top: 0;
}

#gallery-container .gallery .image:nth-child(3) {
	width: 275px;
	height: 275px;
	position: absolute;
	left: 550px;
	top: 275px;
}

#gallery-container .gallery .image:nth-child(4) {
	width: 275px;
	height: 275px;
	position: absolute;
	left: 825px;
	top: 275px;
}

#gallery-container .gallery .image .info {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: block;
	opacity: 0;
	position: relative;
	transition: 0.2s all linear;
}

#gallery-container .gallery .image:hover .info {
	cursor: pointer;
	background: #000;
	opacity: 0.8;
	transition: 0.2s all linear;
}

#gallery-container .gallery .image .title {
	width: 100%;
	text-align: center;
	position: absolute;
	top: auto;
	bottom: 100px;
	margin: 0 auto;
	opacity: 0;
	transition: 0.2s all linear;
}

#gallery-container .gallery .image:hover .title {
	bottom: 80px;
	opacity: 1;
	transition: 0.2s all linear;
}

#gallery-container .gallery .image .desc {
	width: 100%;
	text-align: center;
	position: absolute;
	top: auto;
	left: 0;
	bottom: 20px;
	margin: 0 auto;
	opacity: 0;
	transition: 0.2s all linear;
}

#gallery-container .gallery .image:hover .desc {
	bottom: 40px;
	opacity: 1;
	transition: 0.2s all linear;

}

#gallery-container .gallery .image .info .btn-gallery:hover {
	opacity: 0.4;
	background: #fff;
	color: #3d4045;
	transition: 0.2s all linear;
}

/* GALLERY ------------------------------------------------------------------ */